@import './reset.css';
@import '~antd/dist/antd.css';
@import './antd.css';

/* Base Application Styles */
#root, .container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn:active {
  transition: transform .3s;
  transform: scale(.9);
}
.gray-filter {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
/* Home view Styles */
.banner {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
  color: white;
  font-weight: 600;
  background: green;
  text-align: center;
  margin: 0 auto;
}
.home {
  position: relative;
  width: 960px;
  height: 512px;
  margin: 0 auto;
}
.home .header {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: right;
  background: #F6F6F6;
  padding: 0 20px;
}
.home .avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}
.home .sider {
  height: 100%;
}
.home .status {
  text-align: center;
}
.home .status li {
  margin-top: 24px;
}
.home .avatar {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.home .submenu {
  padding-top: 48px;
}
/* chat */
.chat-sider {
  width: 240px;
  background: #52649D;
}
.chat-content {
  background: #52649D;
}
.chat-content .contact-title {
  background: #FFF;
  height: 48px;
  line-height: 48px;
  padding: 0;
}
.chat-content .chat-frame {
  position: relative;
  background: #F6F8FF;
}
.chat-content .chat-input {
  position: relative;
  height: 120px;
  min-height: 120px;
  border-top: 1px solid #C7D1ED;
  padding: 0;
  background: #F6F8FF
}
