/* contact list */
.contact-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.contact-list .contact-item {
  position: relative;
  padding-left: 54px;
  height: 60px;
  border-bottom: 1px solid rgba(102, 119, 173, 0.8);
  border-top: 0;
}
.contact-list .contact-item:last-child {
  border-bottom: 1px solid rgba(102, 119, 173, 0.8);
}
.contact-list .avatar-wrap {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
}
.contact-list .avatar-wrap .ant-avatar > img {
  border-radius: 50%;
}
.contact-list .name-wrap {
  position: absolute;
  top: 50%;
  left: 58px;
  transform: translateY(-50%);
}
.contact-list .name-wrap h3 {
  font-size: 14px;
  color: #FFF;
  font-weight: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  margin-bottom: 2px;
  margin-top: 4px;
}
.contact-list .name-wrap p {
  font-size: 12px;
  color: #99ADEC;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}